<div class="wrapper">
  <form class="form-signin" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Signup Form</h1>
      <p></p>
    </div>

    <div class="form-label-group">
      <label for="inputEmail">First Name</label>
      <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus formControlName="firstName">
    </div>

    <div class="form-label-group">
      <label for="inputEmail">Last Name</label>
      <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" required formControlName="lastName">
    </div>

    <div class="form-label-group">
      <label for="inputPassword">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required formControlName="password" appInputCharsOnly>
    </div>

    <div class="form-label-group">
      <label for="inputPassword">Repeat password</label>
      <input type="password" id="inputPasswordRepeat" class="form-control" placeholder="Repeat password" required formControlName="passwordRepeat" appInputCharsOnly>
    </div>

    <div class="checkbox mb-3">
      <label>
        <!--<input type="checkbox" value="remember-me"> Remember me-->
      </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
  </form>
</div>
